elpa/
auto-save-list/
backups/
\#*
.\#*
.bbdb
.signature
.mc-lists.el
.smex-items
recentf
*.elc
*conflicted
*.eld
.bzr/
.hg/
tramp
*.last
eshell/*
ac-comphist.dat
.mc-lists.el
.tmp
*~
config/*.el
config/*.md